In [2]:
#install selenium - web driver
!pip install selenium

Requirement already satisfied: selenium in c:\users\b\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\b\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.2)
Requirement already satisfied: trio~=0.17 in c:\users\b\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\b\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\b\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\b\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\b\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\b\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\b\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\b\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\b\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\b\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\b\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\b\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\b\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\b\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\b\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [76]:
#importing webdriver

driver = webdriver.Chrome()

In [77]:
#open the webpage
driver.get('https://www.naukri.com/')

In [78]:
#search for job and location including a click 

skill=driver.find_element(By.CLASS_NAME, "suggestor-input ")
skill.send_keys('Data Analyst')
location = driver.find_element (By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
location = driver.find_element (By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [79]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [63]:
#scraping thse variables 

job_titles=[]
job_locations=[]
company_names=[]
experience_required=[]

In [64]:
#XPATH used to data to be scraped whilst using selenium
#search for job title

title_tags = driver.find_elements(By.XPATH, '//a[@class="title "]')
for i in title_tags[:10]:
    title=i.text
    job_titles.append(title)
    print (title)

Data Analyst
Data Analyst
Data Analyst
Data Analyst
Data Analyst
Data Analyst (Contractual role) - Chubb - Bangalore
Data Analyst
Data Analyst
Data Analyst (Excel)
Data Analyst _Bengaluru_Fresher/Experienced

In [65]:
#XPATH used to data to be scraped whilst using selenium
#search for location


location_tags = driver.find_elements(By.XPATH, '//span[@class="locWdth"]')
for i in location_tags[:10]:
    location=i.text
    job_locations.append(location)
    print (location)

Bengaluru
Bengaluru(HSR Layout)
Hybrid - Bengaluru
Gurugram, Bengaluru
Bengaluru(HAL Airport Area)
Hybrid - Bengaluru
Bengaluru
Gurugram, Bengaluru
Remote
Bengaluru

In [66]:
#XPATH used to data to be scraped whilst using selenium
#search for company name


company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]')
for i in company_tags[:10]:
    company=i.text
    company_names.append(company)
    print (company)

Data Analyst
Data Analyst
Data Analyst
Data Analyst
Data Analyst
Data Analyst (Contractual role) - Chubb - Bangalore
Data Analyst
Data Analyst
Data Analyst (Excel)
Data Analyst _Bengaluru_Fresher/Experienced

In [67]:
#XPATH used to data to be scraped whilst using selenium
#search for experience 


experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[:10]:
    experience=i.text
    experience_required.append(experience)
    print (experience)

5-9 Yrs
1-4 Yrs
6-10 Yrs
1-3 Yrs
1-2 Yrs
3-6 Yrs
3-8 Yrs
1-5 Yrs
0-5 Yrs
0-2 Yrs

In [68]:
#length is the same size

print(len(job_titles), len(job_locations), len(company_names), len(experience_required))

10 10 10 10

In [44]:
#import data into a dataframe using details obtained from scrape

import pandas as pd
df=pd.DataFrame({
    'Job Title': job_titles,
    'Location': job_locations,
    'Company': company_names,
    'Experience': experience_required
})

print (df)

                                            Job Title  \
0                                        Data Analyst
1                                Data Analyst (Excel)
2                                        Data Analyst
3                                        Data Analyst
4                                        Data Analyst
5                                        Data Analyst
6         Data Analyst _Bengaluru_Fresher/Experienced
7                                        Data Analyst
8   Data Analyst (Contractual role) - Chubb - Bang...
9                                        Data Analyst
10                                       Data Analyst
11                               Data Analyst (Excel)
12                                       Data Analyst
13                                       Data Analyst
14                                       Data Analyst
15                                       Data Analyst
16        Data Analyst _Bengaluru_Fresher/Experienced
17                                       Data Analyst
18  Data Analyst (Contractual role) - Chubb - Bang...
19                                       Data Analyst
20                                       Data Analyst
21                               Data Analyst (Excel)
22                                       Data Analyst
23                                       Data Analyst
24                                       Data Analyst
25                                       Data Analyst
26        Data Analyst _Bengaluru_Fresher/Experienced
27                                       Data Analyst
28  Data Analyst (Contractual role) - Chubb - Bang...
29                                       Data Analyst

                       Location  \
0                     Bengaluru
1                        Remote
2            Hybrid - Bengaluru
3           Gurugram, Bengaluru
4   Bengaluru(HAL Airport Area)
5           Gurugram, Bengaluru
6                     Bengaluru
7         Bengaluru(HSR Layout)
8            Hybrid - Bengaluru
9                     Bengaluru
10                         None
11                         None
12                         None
13                         None
14                         None
15                         None
16                         None
17                         None
18                         None
19                         None
20                         None
21                         None
22                         None
23                         None
24                         None
25                         None
26                         None
27                         None
28                         None
29                         None

                                              Company Experience
0                                        Data Analyst    5-9 Yrs
1                                Data Analyst (Excel)    0-5 Yrs
2                                        Data Analyst   6-10 Yrs
3                                        Data Analyst    1-3 Yrs
4                                        Data Analyst    1-2 Yrs
5                                        Data Analyst    1-5 Yrs
6         Data Analyst _Bengaluru_Fresher/Experienced    0-2 Yrs
7                                        Data Analyst    1-4 Yrs
8   Data Analyst (Contractual role) - Chubb - Bang...    3-6 Yrs
9                                        Data Analyst    3-8 Yrs
10                                               None       None
11                                               None       None
12                                               None       None
13                                               None       None
14                                               None       None
15                                               None       None
16                                               None       None
17                                               None       None
18                                               None       None
19                                               None       None
20                                               None       None
21                                               None       None
22                                               None       None
23                                               None       None
24                                               None       None
25                                               None       None
26                                               None       None
27                                               None       None
28                                               None       None
29                                               None       None